@import "../../base/mixin.module";

.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid;
}
.assign-dish {
  &-header {
    display: flex;

    &-title {
      &__container {
        margin: 0 auto 0 0;
      }
    }

    &-menu {
      &__container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.choose-dish {
  &-container {
    height: 300px
  }

  &-form {
    &__label-and-input-container {
      display: flex;
    }

    &__label {
      margin: 0 10px 0 0;
      width: 70px;
    }

    &-select-dish {
      &__container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.assign-dish-for-date {
  &-dish-icon {
    border: 1px solid;
    display: inline-block;

    &__wrap {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.existing-dish-icon-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 200px;
  overflow: scroll;
}

