// 色
$gray: #f4f4f4;
$white: #ffffff;

$breakfast-blue: #00D4F0;
$lunch-green: #A9D159;
$dinner-orange: #F09300;

// 共有パーツ
.icon {
  border-radius: 10px;
  padding: 6px 12px;
  margin: 3px 5px;
  cursor: pointer;
}