// 色
$gray: #f4f4f4;
$white: #ffffff;
$selected-blue: #0d6efd;
$selected-text-color: white;

$breakfast-blue: #00D4F0;
$lunch-green: #A9D159;
$dinner-orange: #F09300;

// z-index
$z-index-sticky: 10;
$z-index-float: 100;
$z-index-float-2: 110;
$z-index-fullscreen-float-background: 1000;
$z-index-fullscreen-float: 1001;
$z-index-fullscreen-float-2-background: 1010;
$z-index-fullscreen-float-2: 1011;

// 共有パーツ
.icon {
  border-radius: 10px;
  padding: 6px 12px;
  margin: 3px 5px;
  cursor: pointer;
}

.mark {
  font-size: 20px;

  &-white {
    color: white;
  }

  &-to-click {
    cursor: pointer;
  }

  &__wrapper {
    margin: 10px 10px;
  }
}
