@import "../../../base/mixin.module";

.meal-icon {
  &--breakfast {
    background-color: $breakfast-blue;
    color: white;
  }

  &--lunch {
    background-color: $lunch-green;
    color: white;
  }

  &--dinner {
    background-color: $dinner-orange;
    color: white;
  }

  &__menu-button {
    color: white;
  }
}

.dish-content {
  display: inline-block;
  color: inherit;
  vertical-align: middle;

  &-mark {
  }

  &-name-and-caption-container {
    display: inline-block;
    color: inherit;
  }

  &-dishname {
    font-size: 14px;
    color: inherit;
  }

  &-caption {
    font-size: 8px;
    color: inherit;
    text-align: center;
  }

  &-menu-opener {
  }
}