.stars-container {
  margin: 0 0 10px 0;
}

.star {
  color:#ffd700;
  font-size: 40px; // この値はfloatingエリアにも影響
  padding: 0 10px;

  &-container {
    display: inline-block;
    position: relative;
    color: inherit;
  }

  &-floating {
    &-container {
      display: inline-block;
      position: absolute;
      width: 65px; // 星のfont-size + 星のpadding * 2 + 不明の5px
      height: 40px; // 星のfont-size
    }

    &-half-click-target {
      display: inline-block;
      width: 50%;
      height: 100%;
    }
  }
}