.stars-container {
  margin: 0 0 10px 0;
}

$star-font-size: 35px;
$star-padding-horizontal: 10px;

.star {
  color:#ffd700;
  font-size: $star-font-size;
  padding: 0 $star-padding-horizontal;

  &-container {
    display: inline-block;
    position: relative;
    color: inherit;
  }

  &-floating {
    &-container {
      display: inline-block;
      position: absolute;
      width: $star-font-size + $star-padding-horizontal * 2 + 5px;
      height: $star-font-size;
    }

    &-half-click-target {
      display: inline-block;
      width: 50%;
      height: 100%;
    }
  }
}