@import "../../base/mixin.module";

.dish-source {
  &__container {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    margin: 10px;
  }

  &-header {
    &__container {
      font-size: 20px;
    }
  }

  &-meal-position {
    &__container {
      padding: 0px 0px 10px 0px;
    }
    &__header {
      padding: 10px 0px 0px 0px;
      font-size: 18px;
    }
    &__content-container {
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
