@import "../../../base/mixin.module";

.select-dishes-container {
  width: 100%;
  border: 1px solid;
}

.dish-icon-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 200px;
  overflow: scroll;
}