@import "../../base/mixin.module";

.meal-icon {
  &--breakfast {
    background-color: $breakfast-blue;
    color: white;
  }

  &--lunch {
    background-color: $lunch-green;
    color: white;
  }

  &--dinner {
    background-color: $dinner-orange;
    color: white;
  }

  &__menu-button {
    color: white;
  }
}